
html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}
.word {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
}
#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  position: relative;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}

button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
}
.logout {
  position: absolute;
  top: 0;
  right: 20px;
}

.begin {
  position: absolute;
  top: 0;
  right: 300px;
}

.timer {
  position: absolute;
  top: 100px;
  right: 450px;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 2em;
  background: rgba(242, 47, 70, 0.8);
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-right: 35rem;
  width: 38rem;
  height: 32rem;
}
.remote-participants {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  /* width: 15rem;
  height: 10rem;
  border-radius: 30px;
  margin-bottom: 0rem; */
}
.icons {
  display: flex;
  margin-top: -30px;
}
.element {
  margin-right: 1rem;
  background: #ffffff;
  color: black;
  border: none;
}
.phoneIcon {
  background: #ffffff;
  color: black;
  margin-right: 9rem;
}
.micIcon {
  background: #ffffff;
  color: black;
  margin-right: 8rem;
}
.leftIcon {
  background: #ffffff;
  color: black;
  margin-right: 8rem;
}
.arrowIcon {
  position: relative;
  background: #48a0f1;
  color: #ffffff;
  border-radius: 20px;
  width: 2.5rem;
  top: -2.4rem;
  right: -16.2rem;
}
.arrowIcon2 {
  position: relative;
  background: #48a0f1;
  color: #ffffff;
  border-radius: 30px;
  width: 5rem;
  height: 3.6rem;
  top: -6.6rem;
  right: -14.2rem;
}
.customIcon {
  position: relative;
  background: #48a0f1;
  color: #ffffff;
  border-radius: 20px;
  width: 17rem;
  height: 2.5rem;
  top: -2.4rem;
  right: -51rem;
  margin-top: 5rem;
}
.youtubeIcon {
  position: relative;
  background: #48a0f1;
  color: #ffffff;
  border-radius: 20px;
  width: 17rem;
  height: 2.5rem;
  top: -2.4rem;
  right: -16.2rem;
}

.users {
  font-size: 14px;
}
video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}

.sideBar {
  min-height: 100%;
  width: 20%;
  float: right;
  border-left: 1px solid gray;
  border-radius: 30px;
  padding: 2%;
  margin: 0;
  display: block;
  position: relative;
}

.roomPage {
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 100%; 
}

.resumeWorkout {
  float: right;
}

#playPauseButtom {
  background-color: transparent;
}

.exerciseList {
  margin-top: 20%;

  padding-bottom: 10%;
  height: 250px;
  display: block;
  right: 700px;
  top: 70px;

  position: absolute;
}
